@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Basic');

$white: #f0f0f0;
$yellow: #ffeaba;
$blue: #8bdaf0;

body {
  background: $white;
  font-family: Serif;
  text-align: justify;
}

.wrapper-navbar {
  .navbar {
    font-family: 'Amatic SC', sans-serif;
    background: $blue;
    font-weight: 700;
    line-height: 1;
    .navbar-brand {
      font-size: 3.8em;
      color: $white;
      padding: 0 0 0 120px;
      background: url('../images/logo.png') no-repeat;
      span {
        color: $yellow;
      }
    }
    #main-menu {
      font-size: 2.2em;
      .menu-item {
        padding: 0 10px;
      }
    }
  }
}

.btn-secondary,
a {
  color: darken($blue, 20);
  &:hover {
    color: $blue;
  }
  &:visited {
    color: darken($blue, 20);
  }
}

.btn-secondary {
  background-color: darken($white, 5);
}

h1, h2, h3 {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
}

iframe {
  max-width: 100%;
}

.home {
  article {
    padding: 20px 0 0 0;
    border-bottom: solid 2px lighten($white, 5);
  }
}

.widget {
  text-align: center;
  p {
    margin-top: 20px;
  }
  .kindle {
    background: url('../images/frog.png') center no-repeat;
    padding: 100px 0 130px 0;
  }
}

#wrapper-footer {
  background: url('../images/border-bottom.png') repeat-x;
  padding-top: 120px;
}
