@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Basic');

body {
  background: #f0f0f0;
  font-family: 'Basic', sans-serif;
}

h1 {
  font-family: 'Anton', sans-serif;
}

h2 {
  font-family: 'Amatic SC';
}
