@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Basic');

$white: #f0f0f0;
$yellow: #ffeaba;
$blue: #8bdaf0;
$text-blue: #1585a4;

body {
  background: $white;
  font-family: Serif;
  text-align: justify;
}

.hide-visually {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper-navbar {
  .navbar {
    font-family: 'Amatic SC', sans-serif;
    background: $blue;
    font-weight: 700;
    line-height: 1;
    .navbar-brand {
      font-size: 3.8em;
      color: $white;
      padding: 0 0 0 120px;
      background: url('../images/logo.png') no-repeat;
      span {
        color: $yellow;
      }
    }
    #main-menu {
      font-size: 2.2em;
      .menu-item {
        padding: 0 10px;
      }
    }
  }
}

.twitter {
  background: url('../images/social-sprite.png') #4099FF center no-repeat;
  background-position: 2px -223px;
  height: 35px;
  width: 35px;
  display: block;
  border-radius: 10px;
  top: 20px;
  position: absolute;
}

.wpcf7 input[type="submit"],
.btn-secondary,
a {
  color: $text-blue;
  &:hover {
    color: lighten($text-blue, 20);
  }
  &:visited {
    color: $text-blue;
  }
}

.wpcf7 input[type="submit"],
.btn-secondary {
  background-color: darken($white, 5);
  border-color: darken($white, 5);
}

.wpcf7 input[type="submit"] {
  &:hover,
  &:active,
  &:visited,
  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: darken($blue, 20);
  }
}

div.wpcf7-mail-sent-ok {
  border: 2px solid $blue;
  border-radius: 2px;
}

h1, h2, h3, #categories-2 li {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  text-align: left;
}

#categories-2 li {
  font-size: 1.6em;
}

iframe {
  max-width: 100%;
}

.blog,
.home {
  article {
    padding: 20px 0 0 0;
    border-bottom: solid 2px lighten($white, 5);
  }
}

.post-navigation .nav-links span {
  padding: 0 20px;
}

img.size-thumbnail {
  float: left;
  padding-right: 10px;
}

@media only screen and (max-width: 400px) {
  img.size-thumbnail {
    float: none;
  }
  p {
    text-align: left;
  }
}

.entry-content {
  padding-top: 20px;
}

.entry-footer {
  clear: both;
}

.widget {
  text-align: center;
  p {
    margin-top: 20px;
  }
  .kindle {
    background: url('../images/frog.png') center no-repeat;
    a {
      display: block;
      height: 225px;
      width: 250px;
    }
  }
  ul {
    list-style: none;
    text-align: left;
    padding: 0;
    li {
      padding: 0 0 10px 0;
    }
  }
}

#wrapper-footer {
  //background: url('../images/border-bottom.png') repeat-x;
  background: url('../images/bg-geometric.png') repeat-x;
  padding-top: 120px;
}
